body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header - begins */

.link-container {
  padding-top: 5em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;

  
  font-size: 1vw;
}

/* moved code to child div within header might change still*/
/* .header {
  padding-top: 5em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
} */

.projects-link {
  float: right;
  padding-left: 1%;
}
.projects-link:hover{
  text-shadow: 1px 1px gray;
}

.about-link {
  float: right;
  padding-left: 1%;
}
.about-link:hover{
  text-shadow: 1px 1px gray;
}

.contact-link {
  float: right;
}
.contact-link:hover{
  text-shadow: 1px 1px gray;
}

.home-link {
  float: left;
}
.home-link:hover{
  text-shadow: 1px 1px gray;
}


/* header - ends */

/* footer - start */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

/* footer - end */

/* body - start */

.bio-section {
  /* float: right; */
  padding-top: 8.33em;
  /* box-shadow: .5px .5px lightgrey; */
}

.project-section {
  padding-top: 2.33em;
  float: left;
  /* box-shadow: .5px .5px lightgrey; */

}

.about-section {
  padding-top: 2.33em;
  float: right;
  /* box-shadow: .5px .5px lightgrey; */
}

.contact-section {
  padding-top: 2.33em;
  padding-bottom: 5em;
  float: left;
  /* box-shadow: .5px .5px lightgrey; */
}

.contact-container {
  padding-top: 8.33em;
}

.about-container {
  padding-top: 8.33em;
}

.projects-container {
  padding-top: 8.33em;
}

/* body - end */